<?xml version='1.0' encoding='UTF-8'?>
<project>
    <actions/>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <scm class="hudson.plugins.git.GitSCM" plugin="git@3.8.0">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <url>http://gitlab.alibaba-inc.com/wb-zln530580/alicloud-ess-post-build-plugin.git</url>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>*/master</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions/>
    </scm>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Maven>
            <targets>package</targets>
            <mavenName>(Default)</mavenName>
            <usePrivateRepository>false</usePrivateRepository>
            <settings class="jenkins.mvn.DefaultSettingsProvider"/>
            <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
            <injectBuildVariables>false</injectBuildVariables>
        </hudson.tasks.Maven>
    </builders>
    <publishers>
        <org.jenkinsci.plugins.AliyunEcsOpsByOssFilePublisher plugin="alicloud-ess-post-build-plugin@1.0-SNAPSHOT">
            <region>cn-hangzhou</region>
            <resourceType>ESS</resourceType>
            <resourceId>asg-XXXXXX</resourceId>
            <bucket>TestBucket</bucket>
            <objectName>/testLocation</objectName>
            <localPath>/</localPath>
            <destinationDir>/root</destinationDir>
            <batchName>1</batchName>
            <invokeScript></invokeScript>
            <awsAccessKey>TEST_ACCESS</awsAccessKey>
            <awsSecretKey>TEST_SECRET</awsSecretKey>
        </org.jenkinsci.plugins.AliyunEcsOpsByOssFilePublisher>
    </publishers>
    <buildWrappers/>
</project>
